*{
    margin: 0%;
}
.wall{
    background-color: maroon;
    background-image: url(pixil-frame-0\ \(1\).png);
    background-size: contain;

}
.hole{
    background-color: black;
    background-image: url(pixil-frame-0\ \(1\).png);
    background-size: contain;

}
.floor{
    background-color: gray;
    background-image: url(pixil-frame-0\ \(1\).png);
    background-size: contain;
}
img{
    max-width: 80%;
    max-height: 80%;
}
.text{
    border: 1px red solid;
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
}
.botom{
    display: flex;
}
.game{
    border: 1px red solid;
    box-sizing: border-box;
    width: 50%;
    height: 50vh; 
    display: flex;
    justify-content: center;
}
.controler{
    border: 1px red solid;
    box-sizing: border-box;
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
}
.arow{
    border: 1px red solid;
    box-sizing: border-box;
    width: 45vh;
    height: 45vh;
    margin-top: 2.5vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.up{
    background-color: yellow;
}
.left{
    background-color: yellow;
}
.right{
    background-color: yellow;
}
.down{
    background-color: yellow;
}
#box{
    border: 1px red solid;
    box-sizing: border-box;
    width: 45vh;
    height: 45vh;
    margin-top: 2.5vh;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}
.threbox{
    width: 100%;
    height: 100%;
}
#box > div{
    /* border: 1px red solid; */
    box-sizing: border-box;
}