*{
    margin: 0%;
}
html{
    background-color: lightgray;
}

.stars{
    background-image: url(PFstars.png);
    background-size: contain;
}
.moonNN{
    background-image: url(PFcolors.png);
    background-size: contain;
}
.moonNW{
    background-image: url(PFcube.png);
    background-size: contain;
}
.moonNE{
    background-image: url(PFmars.png);
    background-size: contain;
}
.moonWW{
    background-image: url(PFblackhole.png);
    background-size: contain;
}
.moonEE{
    background-image: url(PFpackman.png);
    background-size: contain;
}
.moonSW{
    background-image: url(PFring.png);
    background-size: contain;
}
.moonSE{
    background-image: url(PFrobot.png);
    background-size: contain;
}
.moonSS{
    background-image: url(PFtarget.png);
    background-size: contain;
}
img{
    max-width: 2.75vh;
    max-height: 2.75vh;
    position: absolute;
}
  
.text{
    box-sizing: border-box;
    margin-top: 3vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
    width: 96vw;
    height: 60vh;
    outline: 10px solid gray;
    border: 3px rgb(29, 177, 34) solid;
    border-radius: 1px;
    box-sizing: border-box;
    background-color: rgb(39, 52, 34);
    color: lime;
}
.botom{
    display: flex;
}
.game{
    box-sizing: border-box;
    width: 30vw;
    height: 35vh; 
    display: flex;
    justify-content: center;
    margin-left: 3vw;
    margin-right: 3vw;
}
.controler{
    box-sizing: border-box;
    width: 30vw;
    height: 35vh;
    display: flex;
    justify-content: flex-end;
    margin-left: 2vw;
}
.buttons{
    box-sizing: border-box;
    width: 30vw;
    height: 35vh;
    display: flex;
    justify-content: flex-start;
    margin-right: 2vw;
}

.arow{
    /* border: 3px rgb(29, 177, 34) solid; */
    box-sizing: border-box;
    width: 30vh;
    height: 30vh;
    margin-top: 2.5vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.up{
    background-color: yellow;
    outline: 10px solid gray;
    border: 3px rgb(29, 177, 34) solid;
    border-radius: 1px;
    box-sizing: border-box;
    border-bottom: 0px;
}
.left{
    background-color: yellow;
    outline: 10px solid gray;
    border: 3px rgb(29, 177, 34) solid;
    border-radius: 1px;
    box-sizing: border-box;
    border-right: 0px;
}
.right{
    background-color: yellow;
    outline: 10px solid gray;
    border: 3px rgb(29, 177, 34) solid;
    border-radius: 1px;
    box-sizing: border-box;
    border-left: 0px;
}
.down{
    background-color: yellow;
    outline: 10px solid gray;
    border: 3px rgb(29, 177, 34) solid;
    border-radius: 1px;
    box-sizing: border-box;
    border-top: 0px;
}
.center{
    background-image: url(giphy.gif);
    background-position: center;
    background-size: contain;
    position: relative;
    /* outline: 10px yellow solid; */
    border-radius: 4px;
    outline: 10px lightblue solid;
}

#box{
    outline: 10px solid gray;
    border: 3px rgb(29, 177, 34) solid;
    border-radius: 1px;
    box-sizing: border-box;
    width: 30vh;
    height: 30vh;
    margin-top: 2.5vh;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}
.threbox{
    width: 100%;
    height: 100%;
}
#box > div{
    /* border: 1px solid green; */
    box-sizing: border-box;
    position: relative;
}

.A_B_button{
    width: 30vh;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 2.5vh;
    position: relative;
}

.RedButt{
    background-color: red;
    outline: 10px solid gray;
    border: 3px rgb(29, 177, 34) solid;
    border-radius: 100px;
    box-sizing: border-box;    
}

